
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	flex-direction: column;
	padding: var(--spacing-medium);
	background-color: var(--color-tertiary);
	gap: var(--spacing-large);
}

button {
	border: none;
	border-radius: var(--border-radius);
	padding: var(--spacing-x-small);
	font-family: 'Inter-SemiBold';
}

h1 {
	font-size: 1.8rem;
	font-family: 'Inter-Bold';
}

input[type="text"],
input[type="number"] {
	width: 20rem;
	height: 2.2rem;
	padding: 0 var(--spacing-x-small);
}

input[type="radio"] {
	width: 1.3rem;
	height: 1.3rem;
	margin-right: var(--spacing-small);
}

input[type="radio"],
select {
	cursor: pointer;
}

select {
	width: 6rem;
	height: 2rem;
	padding: 0 var(--spacing-x-small);
}

input[type="text"],
select {
	border: none;
	border-radius: var(--border-radius);
}


/* ----------------------- register section ----------------------- */
.register-medicine-section {
	flex-direction: column;
	justify-content: start;
	gap: var(--spacing-larger);


	width: 80%;

	padding: var(--spacing-medium);
	border-radius: var(--border-radius-medium);

	background-color: var(--color-primary);
	color: var(--color-background);
}

.register-medicine-form {
	flex-direction: row;
	align-items: start;
	gap: var(--spacing-largest);
	
}

.register-medicine-form__section {
	flex-direction: column;
	align-items: start;
	gap: var(--spacing-x-small);
}

.register-medicine-form__section input,
.register-medicine-form__section select,
.register-medicine-form__section .radio-buttons-container {
	margin-bottom: var(--spacing-x-small);
}

.section-divider {
	height: 18rem;
	width: 1px;
	background-color: #67798F;
}

.radio-buttons-container {
	flex-direction: row;
	gap: var(--spacing-x-small);
	align-items: start;
}

.submit-button {
	height: 3rem;
	padding-left: var(--spacing-largest);
	padding-right: var(--spacing-largest);

	background-color: var(--color-secondary);
	color: var(--color-background);
}

.submit-button:hover {
	background-color: #3275c8;
}

/* ----------------------- display section ----------------------- */
.display-medicine-section {
	flex-direction: column;
	justify-content: start;

	width: 100%;

	padding: var(--spacing-small);
	border-radius: var(--border-radius-medium);

	background-color: var(--color-background);
}

.medicine-header {
	justify-content: space-between;

	width: 100%;
	padding: var(--spacing-small) var(--spacing-medium) var(--spacing-small) var(--spacing-medium);
	border-radius: 20px;

	background-color: var(--color-primary);
	color: var(--color-background);
}

.medicine-header span {
	font-family: 'Inter-SemiBold';
}

.medicine-header__delete {
	width: 8rem;
}