body {
	flex-direction: column;
	padding: var(--spacing-medium);
	background-color: var(--color-tertiary);
	gap: var(--spacing-large);
}

button {
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius);
}

.register-medicine .container,
.display-medicine .container,
.display-medicine header,
.medicine-list__row {
	border-radius: var(--border-radius-medium);
}

/* inputs */
input[type="text"],
input[type="date"],
select {
	padding: var(--spacing-x-small);
	border-radius: var(--border-radius);
	border: none;
}

input[type="text"],
input[type="date"] {
	width: 300px;
}

input[type="date"],
select {
	cursor: pointer;
}

select:disabled {
	cursor: default;
}

select {
	width: 150px;
}

input[type="radio"] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/* ------------ toast ------------*/
.toast-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.toast {
	display: none;
	padding: var(--spacing-x-small) var(--spacing-medium);
	border-radius: var(--spacing-x-small);
}
.toast--registered {
	background-color: rgb(146, 255, 131);
}

.toast--deleted {
	background-color: rgb(255, 148, 131);
}

/* ---------- register section ---------- */
.register-medicine-form {
	align-items: flex-start;
	gap: var(--spacing-largest);
}

.register-medicine-form section {
	align-items: flex-start;
	gap: var(--spacing-small);
}

.register-medicine-form section div {
	align-items: flex-start;
	gap: var(--spacing-x-small);
}

.section-divider {
	height: 300px;
	width: 1px;
	background-color: #c1c1c175;
}

#radio-buttons-container {
	gap: var(--spacing-medium);
}

.register-button {
	transition: transform 0.2s ease;
}

.register-button:hover {
	background-color: #337ad0;
	transform: scale(0.97);
}

/* ---------- display section ---------- */
.display-medicine .container {
	max-width: 1300px;
}

.display-medicine header span {
	font-family: 'Inter-SemiBold';
}

.display-medicine header,
.medicine-list__row {
	width: 100%;
	padding: var(--spacing-medium) var(--spacing-x-small);
	justify-content: space-between;
}

.display-medicine header span,
.medicine-list__row span {
	flex-basis: 12%;
	text-align: center;
}

.medicine-list {
	width: 100%;
}

.medicine-list__row {
	margin-top: var(--spacing-x-small);
	background-color: var(--color-tertiary);
}

.view-button {
	display: none;
	background-color: var(--color-secondary);
	color: white;
	padding: var(--spacing-x-small) var(--spacing-small);
	transition: transform 0.2s ease;
}

.view-button:hover {
	background-color: #337ad0;
	transform: scale(0.97);
}

.delete-button {
	background-color: red;
	color: white;
	padding: var(--spacing-x-small) var(--spacing-small);
	transition: transform 0.2s ease;
}

.delete-button:hover {
	background-color: rgb(220, 0, 0);
	transform: scale(0.97);
}

/* ---------- medium screen ---------- */
@media(max-width: 1024px) {
	* {
		font-size: 0.9rem;
	}

	.container {
		max-width: 700px;
	}

	input[type="text"],
	input[type="date"] {
		width: 250px;
	}

	select {
		width: 120px;
	}
	
	input[type="radio"] {
		width: 17px;
		height: 17px;
	}

	/* register section */
	#register-heading {
		font-size: 1.5rem;
	}

	/* display section */
}

/* ---------- small screen ---------- */
@media(max-width: 768px) {
	.container {
		max-width: 500px;
	}

	/* register section */

	.register-medicine-form {
		flex-direction: column;
		gap: var(--spacing-medium);
	}

	.section-divider {
		height: 1px;
		width: 100%;
	}

	.register-button {
		margin-top: 3rem;
	}

	/* display section */
	.display-medicine header span,
	.medicine-list__row span {
		display: none;
	}

	.display-medicine header span:first-child,
	.medicine-list__row span:first-child,
	#medicine-header__buttons-container,
	.view-button {
		display: block;
	}

	#medicine-list-row__buttons-container {
		display: flex;
	}

	.display-medicine header span,
	.medicine-list__row span {
		flex-basis: 25%;
	}

	#medicine-list-row__buttons-container {
		flex-basis: 40%;
		justify-content: space-evenly;
	}
}

@media(max-width: 540px) {
	#medicine-list-row__buttons-container {
		flex-basis: 60%;
	}
}



